.sthombe img{
  border-radius: 50%;
}
  body, html {
      height: 100%;
      width: 100%;

  }

  .row{
    text-align: center;
    width: 100%;
  }

.bgimg {
        /* Background image */
        background-image: url('images/kill.jpg');
        /* Full-screen */
        height:100%;
        /* Center the background image */
        background-position: center;
        /* Scale and zoom in the image */
        background-size: cover;
        /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
        position: relative;
        /* Add a gold text color to all elements inside the .bgimg container */
        color: gold;
        /* Add a font */
        font-family: "Courier New", Courier, monospace;
        /* Set the font-size to 25 pixels */
        font-size: 15px;
    }
.teks h1, h4{
  color: gold;
}

.nav{
  margin-top: 30px;
  background-color: black;
}
.first{
  padding-top: 50px;
}
